{{> head}}

{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>Acerca de está página</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda illum magni iusto rerum eaque asperiores incidunt? Laudantium explicabo quisquam a voluptates. Deserunt ducimus quo aut eveniet minima nisi quibusdam autem?</p>
    </div>

    <div class="col- 4">
        <img src="assets/img/camera.png" class="img-thumbnail" alt="">
    </div>

</div>

{{> footer }}